<h1>Sign Up Page!</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <h3>This errors occured</h3>
    <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
    </ul>
  <% end %>
  <div class="form_fields">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="form_fields">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="form_fields">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="form_fields">
    <%= f.submit 'Sign Up' %>
  </div>


<% end %>
