
<h1><%= @product.name %></h1>

<%= link_to 'Edit', edit_product_path %> |
<%= link_to 'Delete', product_path, method: :delete, data: {confirm: "Are you sure you want to delete this product?"} %>

<p>Description: <%= @product.description %></p>
<p>Price: <%= @product.price_in_dollars %></p>


<h2>Reviews</h2>

<ul>
  <% @product.reviews.each do |review| -%>
    <li>
      <%= review.comment %>
      <%= review.created_at %>
    </li>
  <% end %>
</ul>

<h2>Add Comment</h2>

<%= form_for([@product, @review]) do |f| %>

  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input_wrapper">
    <%= f.label :comment %>
    <%= f.text_field :comment %>
  </div>

  <div class="input_wrapper">
    <%= f.submit %>
  </div>

<% end %>
